<html>
<head>

  <title></title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>
<b>Send message</b><p>
  Message  <input type="text" id="msgbox"/><br>
  <span id="msgs"></span>

  <script type="text/javascript">
    var socket = io.connect('/');

    // 키 눌렀을때
    $("#msgbox").keyup(function(event) {
      // 13 -> 엔터키
      if (event.which === 13) {
        // socket으로 보내기
        socket.emit('fromclient', {
          msg:$('#msgbox').val()
        });

        // 메세지 박스 내용 초기화
        $('#msgbox').val('');
      }
    });

    // socket으로 받기
    socket.on('toclient', function(data) {
      console.log(data.msg);

      $('#msgs').append(data.msg+'<BR>');
    });
  </script>
</body>
</html>
